# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
myEnv310/
env/
venv/

# PyInstaller build folders
build/
dist/
installer/
*.spec

# OS files
.DS_Store
Thumbs.db

# Installer output
*.exe
